# Sanal ortamı yükleme
venv/
.venv/
.idea/
.vscode/
.DS_Store

# İndirilen büyük veri dosyalarını yükleme
data/

# Python derleme dosyaları
__pycache__/
*.pyc

# Locally generated case logs
Vaka_Kayitlari.csv